{% assign applince_product = false %}
{% assign antitache_product = false %}

{% if product.tags contains 'Department_Laundry' or product.tags contains 'Department_Kitchen' or product.tags contains 'Fr_Catégorie_Lave-vaisselle' %}
{% assign applince_product = true %}
{% elsif product.tags contains 'Department_Living Room'  %} 
{% assign antitache_product = true %}
{% else %} 
{% endif %}

{% assign prod_obj_2year = all_products['plan-de-protection-2-ans'] %}
{% assign prod_obj_4year = all_products['plan-de-protection-4-ans'] %}
{% assign prod_obj_furniture = all_products['plan-de-protection-antitache'] %}
{% assign variant_prce = product.price  %}

<!-- 2year product -->
{% for va_val in prod_obj_2year.variants %}
{% assign prce = va_val.title | split:'-' | first %}
{% assign basePrice = prce | times:100 %}

{% if basePrice > variant_prce %}
{% break %}
{% else %}
{% assign selectedPrice = va_val.price %}
{% assign selectedvariant = va_val.id %}
{% assign selectedsku = va_val.sku %}
{% endif %}
{% endfor %}

<!-- 4year product -->
{% for va_val2 in prod_obj_4year.variants %}
{% assign prce1 = va_val2.title | split:'-' | first %}
{% assign basePrice1 = prce1 | times:100 %}
{% if basePrice1 > variant_prce %}
{% break %}
{% else %}
{% assign selectedPrice2 = va_val2.price %}
{% assign selectedvariant2 = va_val2.id %}
{% assign selectedsku2 = va_val2.sku %}
{% endif %}
{% endfor %}

<!-- Furniture product -->
{% for va_val3 in prod_obj_furniture.variants %}
{% assign prce3 = va_val3.title | split:'-' | first %}
{% assign basePrice3 = prce3 | times:100 %}
{% if basePrice3 > variant_prce %}
{% break %}
{% else %}
{% assign selectedPrice3 = va_val3.price %}
{% assign selectedvariant3 = va_val3.id %}
{% assign selectedsku3 = va_val3.sku %}
{% endif %}
{% endfor %}

{% if applince_product == true or antitache_product == true %}
<div class="protection_plan-main">
<h5 class="prot-plan-head">
{% if request.locale.iso_code == 'fr' %}
Plan de Protection {% if antitache_product == true %}- Antitache{% endif %}
{% else %}
Protection Plan {% if antitache_product == true %}- Anti-stain{% endif %}
{% endif %}
<div class="tooltip custom-drawer-click">

{% if request.locale.iso_code == 'fr' %}
{% assign warrenty_guide = section.settings.warrenty_guide-fr %}
{% assign protection_guide = section.settings.protection_guide-fr %}
{% elsif request.locale.iso_code == 'en' %}
{% assign warrenty_guide = section.settings.warrenty_guide-en %}
{% assign protection_guide = section.settings.protection_guide-en %}
{% endif %}

{% if applince_product == true %}
{%  assign applien_page = section.settings.appliance %}
{% if request.locale.iso_code == 'fr' %}
<div class="page-custom-handlize" style="display:none;">/pages/{{ applien_page }}</div>
{% elsif request.locale.iso_code == 'en' %}
<div class="page-custom-handlize" style="display:none;">/en/pages/{{ applien_page }}</div>
{% endif %}
{% elsif antitache_product == true%}
{%  assign furniture_page = section.settings.furniture %}
{% if request.locale.iso_code == 'fr' %}
<div class="page-custom-handlize" style="display:none;">/pages/{{ furniture_page }}</div>
{% elsif request.locale.iso_code == 'en' %}
<div class="page-custom-handlize" style="display:none;">/en/pages/{{ furniture_page }}</div>
{% endif %}
{% endif %}

<a href="{% if applince_product == true %}{{protection_guide}}{% elsif antitache_product == true%}{{warrenty_guide}}{% endif %}" target="_blank">
<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11">
<g><g><path fill="#747474" d="M1.61 9.39a5.5 5.5 0 1 1 7.78-7.78 5.5 5.5 0 0 1-7.78 7.78zm4.53-4.86zm0 0l-1.574.197-.057.261.31.056c.202.049.242.122.198.323l-.508 2.385c-.133.616.072.906.556.906.374 0 .81-.173 1.007-.41l.06-.287a.76.76 0 0 1-.471.17c-.19 0-.257-.133-.21-.367zm-.154-.95a.688.688 0 1 0-.972-.972.688.688 0 0 0 .972.972z"></path></g></g>
</svg>
</a>
</div>
</h5>
<select class="protection_plan">
{% if applince_product == true %}
<option>Choose your protection plan</option>
{% elsif antitache_product == true %}
<option>Do you want anti-stain protection ?</option>
{% endif %}  


{% if applince_product == true %}
<option data="app" data-vid="{{ selectedvariant }}" data-sku="{{ selectedsku }}" data-price="{{ selectedPrice }}" data-prodHandle="{{ product.handle}}">2 Year Protection plan</option>
<option data="app" data-vid="{{ selectedvariant2 }}" data-sku="{{ selectedsku2 }}" data-price="{{ selectedPrice2 }}" data-prodHandle="{{ product.handle}}">4 Year Protection plan</option>
{% elsif antitache_product == true %}
<option data="ant" data-vid="{{ selectedvariant3 }}" data-sku="{{ selectedsku3 }}" data-price="{{ selectedPrice3 }}" data-prodHandle="{{ product.handle}}">Yes</option>
{% endif %}

{% if applince_product == true %}
<option>Decline protection plan</option>
{% elsif antitache_product == true %}
<option>No</option>
{% endif %} 

</select>

<div class="protection_plan-global">
{% if applince_product == true %}
<span class="prot-selected prot_plan_text">Choose your protection plan</span>
{% elsif antitache_product == true %}
<span class="prot-selected prot_plan_text">Do you want anti-stain protection ?</span>
{% endif %}
<ul class="protection_plan-list">

{% if applince_product == true %}
<li data-vid="{{ selectedvariant }}" data-sku="{{ selectedsku }}" data-price="{{ selectedPrice }}" data-prodHandle="{{ product.handle}}"><span class="prot_plan_text">2 Year Protection plan</span> <span class="prot_plan_price">{{ selectedPrice  | money }} </span></li>
<li data-vid="{{ selectedvariant2 }}" data-sku="{{ selectedsku2 }}" data-price="{{ selectedPrice2 }}" data-prodHandle="{{ product.handle}}"><span class="prot_plan_text">4 Year Protection plan</span> <span class="prot_plan_price">{{ selectedPrice2  | money }}</span></li>
{% elsif antitache_product == true %}
<li data-vid="{{ selectedvariant3 }}" data-sku="{{ selectedsku3 }}" data-price="{{ selectedPrice3 }}" data-prodHandle="{{ product.handle}}"><span class="prot_plan_text">Yes</span> <span class="prot_plan_price">{{ selectedPrice3  | money }}</span></li>
{% endif %}

{% if applince_product == true %}
<li><span class="prot_plan_text">Decline protection plan</span></li>
{% elsif antitache_product == true %}  
<li><span class="prot_plan_text">No</span></li>
{% endif %}
</ul>
</div>

</div>
{% endif %}

<div class="protection-plan-error" style="display:none;color:red">
Please select protection plan
</div>
